{# templates/index.html.twig #}
{% extends 'header/layout.html.twig' %}

{# {% block title %}FrogWars{% endblock %} #}
 {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/header.css"/>
{% endblock %} 
{% block header_content %}
    <h1>FrogWa1rs</h1>
{% endblock %}

