{% extends 'about/layout.html.twig' %}

{% block page_contents %}
	<div class="w-4/5 m-auto text-center">
	
	</div>

	<div class="mx-auto w-4/5 my-8">
	</div>
	<div
		class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 "><!-- Review Item -->
        {{msg}}
	</div>
{% endblock %}
