.header-menu {
    background-color: #434343;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    height: 50px;
}
.admin-menu {
    position: relative;
    width: 100%;
    color: #000;
  
}