{# templates/front_page/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Frogwars!{% endblock %}

{% block content %}
    <h1>Explore the world of frogmen!</h1>
    <p>This is the content of the front page.</p>
{% endblock %}
