{# templates/front_page/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome to My Website!{% endblock %}

{% block body %}
    <h1>Welcome to My Website!</h1>
    <p>This is the content of the front page.</p>
{% endblock %}
